<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
 
<p>
  <b>Manage Albums</b>
  <%= link_to("Albums", albums_path) %>
</p>

<p>
  <%=link_to "My Stats", my_stats_path%>
 
 
<%= link_to 'Edit', edit_account_path %>
