%div{:class => "row light_border"}
  %div{:class => "data light_border"}
    = form.label :album_name
  %div{:class => "data light_border"}
    = form.text_field :album_name

%div{:class => "row light_border"}
  %div{:class => "data light_border"}
    = form.label :scope
  %div{:class => "data light_border"}
    = select(:album, "scope", {"public" => "public", "private" => "private"})
