%h1
  Edit An Album
%div{:class => "table"}
- form_for :album, @album, :url => album_path(@album.id), :html => {:method => :put} do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  = f.submit 'Save'
