<div class="table">
<% @photos.each do |photo| %>
  <div class="row">
    <div class="data">Photo Caption</div>
    <div class="data"><%= link_to(photo.caption, album_photo_path(photo.id)) %></div>
  </div>

  <div class="row">
    <div class="data">Photo Tags</div>
    <div class="data"><%= photo.tags %></div>
  </div>

  <div class="row">
    <div class="data">Scope</div>
    <div class="data"><%= photo.scope %></div>
  </div>
<% end %>

<%=link_to "New Photo", new_album_photo_path%>
</div>
